<!DOCTYPE html>
<html>
<head>
<title>a2html</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="noindex,nofollow">
<link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
	<label for="input">Input:</label>
	<textarea id="input" rows="20" cols="80"></textarea>
	<input id="convert" type="button" value="Convert">
	<label for="output">Output</label>
	<textarea id="output" rows="20" cols="80"></textarea>
	<script src="/webjars/jquery/3.0.0-alpha1/jquery.js" defer></script>
	<script src="/a2html.js" defer></script>
</body>
</html>